@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #000; /* Black background */
    color: #fff; /* White text */
  }
  
/* app.css */
.font-caprasimo {
  font-family: 'Caprasimo', normal;
}

.font-berkshire-swash {
  font-family: 'Berkshire Swash', normal;
  color: slategray;
}

  /* You can also define custom colors in your tailwind.config.js if needed */
  